body
{
    font-family:montserrat;
    background-color:honeydew;
}
nav ul
{
    float:right ;
    margin:10px ;
    padding:0px;
    font-family:"Kameron",Georgia,serif ;
}
nav
{
    background-color:honeydew; 
    
}
.mytable
{
    align-items: ;
    float: ;
}